# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/coverage
/build
# dependencies
/node_modules
/.pnp
.pnp.js
.gitlab-ci.yml
sonarqube.sh
.DS_Store
.env
.env.local
.env.development
.env.development
.env.test
.env.production
.pack
.next
.next
.pack
.pack.gz
.trace
npm-debug.log*
yarn-debug.log*
yarn-error.log*
