/* ==================Mobile view css start ==================*/

@media only screen and (max-width: 768px) {
    .backImage {
        margin-top: 15px !important;
        left: 0px !important;
    }

    .project-slider {
        width: 100% !important;
    }

    .searchbox {
        border-radius: 50px !important;
    }

    .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
        padding: 14px !important;
    }

    .buyer-seller-btn {
        margin-right: 20px !important;
        justify-content: center;
    }

    .projects-card h2 {
        margin-bottom: 5px;
    }

    .download-app-section {
        padding: 10px !important;
    }

    .css-csmqbv-MuiPaper-root-MuiDialog-paper {
        margin: 0px !important;
        width: calc(100% - 21px) !important;
    }

    .mainModalClassForm::after {
        content: unset !important;
    }

    .css-mhc70k-MuiGrid-root {
        width: calc(100% + 20px) !important;
    }

    .forMobileView {
        width: 261px !important;
        left: 0 !important;
        padding: 0px 71px 13px 12px !important;
    }

    .close-icon {
        position: absolute;
        top: 8px;
        right: 4px;
    }

    .chat-now-buyer-seller-btn div {
        display: flex;
    }

    .css-5bkk0 {
        position: absolute;
        bottom: 130px;
        left: 30px;
        right: 0;
        display: flex;
        align-items: center;
    }

    .for-svg-design svg {
        color: #fff;
        background: #343A40;
        padding: 5px;
        font-size: 28px;
        border-radius: 50px;
    }

    .dropbtn {
        min-width: 240px !important;
    }

    .dropbtn::after {
        width: 24px !important;
        height: 24px !important;
        transform: rotate(90deg) !important;
        left: unset !important;
        right: 4px !important;
        bottom: 11px !important;
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23000000"><path d="M10 6 8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>') no-repeat !important;
    }

    .mainModalClassForm {
        margin-top: 20px;
    }

    .Property-form-close {
        position: absolute !important;
        right: 7px;
        top: 4px;
    }

    .custom-radio-group {
        margin: 0px !important;
        padding: 0 0 0 0px !important;
    }

}

/* ==================Mobile view css end ==================*/