.slick-prev:before, .slick-next:before {
    color: #a9d910 !important;
}
.searchbox{
    height: -webkit-fill-available !important;
}
.download-app-section{
    padding: 40px 60px;
}
/* .property-card-style img{
    width: 100%;
    height: 250px;
    object-fit: cover;
} */
.Property-form-close{
    position: absolute !important;
    right: 15px;
    top: 10px;
}
