.slick-prev:before, .slick-next:before {
    color: #a9d910 !important;
}
.searchbox{
    height: -webkit-fill-available !important;
}
.download-app-section{
    padding: 80px 60px;
}
.Property-form-close{
    position: absolute !important;
    right: 15px;
    top: 10px;
}
.comment-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
.comment-section input{
    height: 10px !important;
}

.comment-send-btn{
    align-items: center;
    justify-content: center;
    background-color: #badf4d;
    padding: 9px 11px;
    border-radius: 4px;
    display: flex;

}
.comment-send-btn svg{
    color: #fff;
}
.comment-details-below{
    display: flex;
    align-items: center;
}
.comment-details{
    margin-top: 40px;
}
.sub-comment-section{
    margin-left: 34px;
}
.activity-icon-comments{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}
.sendButton{
    background-color: #badf4d !important;
    display: flex !important;
    align-items: center;
    padding: 9px 0px !important;
}
.sendButton svg{
    color: #fff;
}
