@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Outfit", sans-serif; /* Use Outfit font */
  color:#fff;
}